.filler {
  flex: 1 1 auto;
}

.gap {
  margin-right: 10px;
}


.btn {
  background-color: lightblue;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;

}

.btnn{
  background-color: rgb(81, 255, 0);
  padding: auto;
  display: inline-block;
  border-radius: 5px;

}

.table {
  position: initial;
  table-layout: fixed;
  width: auto;
  border-collapse: initial;
  border: 1px solid;
}
.id{
  background-color: lightgreen;
}

th,
td {
  padding: 10px;

}