<div class="Whole">
   <div>
      <mat-toolbar color="primary">
         <span class="gap">User</span>
         <span>Task</span>
         <span class="filler"></span>
         <span><button (click)="onLogout()">Logout</button></span>
      </mat-toolbar> 
   </div>
   <div>
      <h3>Add Task</h3>
      <form [formGroup]="taskForm" >
         <div>
            <mat-form-field> 
               <p> <input matInput type="number" placeholder="Pincode" formControlName="pincode"></p>
            </mat-form-field>
            <mat-form-field>
               <p> <input matInput type="text" placeholder="Task" formControlName="task"></p>
            </mat-form-field>
            <button class="btn" *ngIf="!isUpdate" (click)="onCreateTask()">Submit</button>
            <button class="btn" *ngIf="isUpdate" (click)="onUpdate(userId)">Update</button>
            <div
            class="error"
            *ngIf="
            taskForm.get('pincode')!.value == '' && taskForm.get('pincode')!.touched
            "
            >pincode Is Required</div>
            <!-- <div *ngIf="taskFormControl.pincode.invalid && (taskFormControl.pincode.dirty || taskFormControl.pincode.touched)"
            class="alert alert-danger">

            <div *ngIf="taskFormControl.pincode.errors?.['required']">
                Pincode is required.
            </div>
        </div>
            <div *ngIf="taskFormControl.task.invalid && (taskFormControl.task.dirty || taskFormControl.task.touched)"
            class="alert alert-danger">

            <div *ngIf="taskFormControl.task.errors?.['required']">
                Task is required.
            </div>
        </div> -->
         </div>
      </form>
   </div>
   <div>
      <h3>Tasks</h3>
      <div *ngFor="let task of tasks">
         <table class="table">
            <tr>
               <th>ID</th>
               <th>Pincode</th>
               <th>Task</th>
               <button class="btnn"  (click)="onDelete(task._id)">Delete Task</button><br>
               <button class="btnn" (click)="patchValue(task)">Update Task</button>
            </tr>
            <tr>
               <td>{{task._id}}</td>
               <td>{{task.pincode}}</td>
               <td>{{task.task}}</td>
            </tr>
         </table>
      </div>
   </div>
</div>